A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{TEXT-DECORATION: underline;Color:#4455aa}

BODY{
FONT-SIZE: 12px;
COLOR: #000000;
FONT-FAMILY:  ו;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-FACE-COLOR: #FBF4F4; 
SCROLLBAR-SHADOW-COLOR: #FBF4F4;
SCROLLBAR-3DLIGHT-COLOR: #FBF4F4;
SCROLLBAR-DARKSHADOW-COLOR: #F3E2E2;
SCROLLBAR-ARROW-COLOR: #D66565;
}
font{line-height : normal ;}
TD{
font-size: 12px;
line-height: 15px;
}
th
{
background-image:  url(style2/thbg.gif);
background-color: #D66565;
color: white;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #F3E2E2;
}
tr.TableBody1
{
background-color: #FBF4F4;
}
tr.TableBody2
{
background-color: #F3E2E2;
}
td.TopDarkNav
{
background-image:  url(style2/d12.gif);
}
td.TopLighNav
{
background-image:  url(style2/d1.gif);
}
tr.TopLighNav1
{
background-image:  url(style2/menubg.gif);
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.tableBorder1
{
	border: 1px solid #D66565;
	padding: 8;
	width: 768px;
}
.tableBorder2
{
border: 1px #DEDEDE solid; 
//background-color: #F3E2E2;
background-color: #DEDEDE;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Tahoma,Verdana,ו; font-size: 12px; line-height: 15px;}
}
.input1 {
	border: 1px solid #DEDEDE;
}
.popload {
	background-color: #EFF0EB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: 2px solid #DEDEDE;
}
.divcenter {
	position:absolute;
	z-index:1000;
	visibility: visible;
	left:expression(document.body.offsetWidth/2-100); 
	top:expression(document.body.offsetHeight/2-50);
}
UL LI {
	LIST-STYLE-IMAGE: POSITION: relative; TOP: -12px
}
.mtDropdownMenu {
	LEFT: -1000px; OVERFLOW: hidden; POSITION: absolute; TOP: -1000px
}
.mtDropdownMenu .content {
	POSITION: absolute
}
.mtDropdownMenu .items {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 2; LEFT: 0px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; POSITION: relative; TOP: 0px
}
.top .items {
	BORDER-TOP: medium none
}
.mtDropdownMenu .item {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; CURSOR: hand; COLOR: #4a4b4b; BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
.mtDropdownMenu .background {
	Z-INDEX: 1; FILTER: alpha(opacity=85); LEFT: 0px; POSITION: absolute; TOP: 0px; moz-opacity: .8 ;	background-image:  url(style2/menubg.gif);
}
.mtDropdownMenu .shadowRight {
	Z-INDEX: 3; FILTER: alpha(opacity=40); WIDTH: 2px; POSITION: absolute; TOP: 3px; moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	Z-INDEX: 1; FILTER: alpha(opacity=40); LEFT: 3px; POSITION: absolute; HEIGHT: 2px; moz-opacity: .4
}
.mtDropdownMenu .hover {
	BACKGROUND: #ffffff; COLOR: #8d1c1c
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 12px
}
.PicBar { 
	background-color: #FFCC66; border: 1px solid #000000; height: 12px;
}
